.Navbar_main_container {
    height: 100%;
    width: 15%;
    background-color: #2723DC;
    display: flex;
    flex-direction: column;
}

.box1 {
    height: 20%;
    width: 100%;
    /* background-color: rgb(43, 226, 67); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    height: 80%;
    width: 100%;
    /* background-color: rgb(24, 4, 150); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.box3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;
    
    /* background-color: rgb(65, 3, 49); */
}

.company_logo {
    background-color: rgb(255, 255, 255);
    height: 129px;
    width: 129px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS */
.logo {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.button {
    display: flex;
    font-size: 25px;
    /* justify-content: center; */
    align-items: center;
    height: 52px;
    width: 200px;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 6px;
}

.icon {
    margin-left: 10px;
    margin-right: 20px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.useProfile{
    height: 60px;
    width: 60px;
    background-color: #23dc70;
    border-radius: 50%;
    cursor: pointer;
}
.signout{
    height: 46px;
    width: 91px;
    cursor: pointer;
    background-color: red;
    display: flex;
    text-align: center;
    color: white;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
}